/************************************************************************/
/*                           Web Bizuca                                 */
/************************************************************************/
/*                     CSS para o arquivo .html                         */
/************************************************************************/

body {
    font-family: Courier, Arial, sans-serif;
    font-size: 12;
    padding: 50px;
    color: #555;
    text-shadow: 3px 1px 1px #78A3A6;
}
#intro{
    position: absolute;
    top: 0%; 
    left: 0%;
}
#musicPlayer{
    position: absolute;
    bottom: 0%; 
    left: 0%;
}
#game{
    position: absolute;
    top: 0%; 
    left: 0%;
}
#chatBox{
    position: absolute;
    bottom: 40%;
    left: 75%;
}
#menu{
    position: absolute;
    top: 200%;
    left: 37%;
}
textarea{
    border: 2px solid #765942;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:courier, arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}
h1:hover {
    text-align: center;
    font-size: 1.4em;
    color: #FFFFFF;
    font-weight: normal;
    width: 450px;
}

input {
    -webkit-border-radius: 100px 100px 100px 100px;
border-radius: 100px 100px 100px 100px;
}

table {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    position: absolute;
    
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
}

a:link:hover {
   color: #be7429;
   font-weight: normal;
   text-decoration: underline;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2e373b;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #afd9fa 0%,
        #23282b);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#afd9fa),
        to(#23282b));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #6096cc;
    -moz-box-shadow:
        0px 1px 3px rgba(181,56,181,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(181,56,181,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(181,56,181,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}

button:hover {
    font-family: Courier, Helvetica, sans-serif;
    font-size: 14px;
    color: #123d54;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #c4e5ff 0%,
        #8aa4b3);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#c4e5ff),
        to(#8aa4b3));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}
